@import url('https://fonts.googleapis.com/css2?family=Doto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yarndings+12:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import "tailwindcss";

/*lets use this font for the name https://fonts.google.com/specimen/Nabla?preview.text=Hi,%20I%20am%20%5BSparsh%5D&specimen.preview.text=Hi,+I+am+%5BSparsh%5D&categoryFilters=Feeling:%2FExpressive%2FFuturistic*/


@font-face {
  font-family: 'StandardGA';
  src: url('./assets/fonts/sga-font.otf') format('opentype');
}


html {
  background-color: black;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

h2,
body {
  color: white;
  font-family: 'Chakra Petch', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

a,
h1,
h3,
h4,
h5,
h6,
text,
button {
  font-family: 'Doto', sans-serif;
}

/* Hide native scrollbars for the carousel */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.galactic,
.galactic * {
  font-family: 'StandardGA', sans-serif !important;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.wave-text span {
  display: inline-block;
  transition: color 0.3s ease;
}

.wave-text:hover span {
  animation: wave 1s ease-in-out infinite;
  color: #00e5ff;
}